<header>
    <a href="/">EM stories</a>
    <nav aria-label="Primary navigaton">
        <ul>
            <li><a href="/">Stories</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</header>